.navbar-style {
    background: transparent;
    font-weight: bolder;
    font-size: larger;
    height: 70px !important;
    padding: 10px;
    border-color: transparent;
}

.logo {
    height: 75px;
    width: 120px;
    margin: -30px;
    padding-right: 10px;
    padding-left: 10px;
    /*border-radius: 50%;*/
}

.background {
    background-image: url("../static/images/gameBG.jpg");
    background-size: cover;
    color: beige;
}

.center {
    text-align: center;
}

.intro {
    padding-top: 5%;
}

.btn-style {
    background-color: beige;
    color: #00031CFF;
    height: 40px;
    width: 150px;
    transition: transform .4s;
}

.btn-style:hover {
    transform: scale(1.2);
}

.list-style {
    background: transparent;
    border-color: transparent;
    font-size: 18px;
}

.select {
    padding: 50px;
    background: beige;
    transition: tranform .2s;
    display: inline;
    margin-left: 20px;
    color: #00031CFF;
}

.select:hover {
    transform: scale(1.3);
}

.division-three {
    margin: 20px;
    padding: 10px;
    height: 220px;
    width: 30%;
    color: #00031CFF;
    opacity: 0.8;
    border-radius: 5px;
}

.odd {
    background-color: #F5E5DCFF;
    float: left;
}

.even {
    background-color: beige;
    float: left;
}

.division-two {
    margin: 20px;
    padding: 10px;
    background-color: #F5E5DCFF;
    width: 46%;
    height: 300px;
    float: left;
    color: #00031CFF;
    opacity: 0.8;
    border-radius: 5px;
    overflow-y: auto;
}

.division-two-child {
    background-color: beige;
    padding: 10px;
    border-radius: 5px;
}

.division-two-left {
    width: 63%;
    float: left;
}

.division-two-right {
    width: 30%;
    float: right;
}

body.swal2-shown > [aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
}

.swal-style {
    width: 600px !important;
    height: 420px !important;
    background-image: url("../static/images/swalImage.png") !important;
    background-size: cover !important;
    color: beige !important;
    font-size: larger !important;
}

.input-style {
    background: beige;
    color: #00031CFF;
    border-color: transparent;
    border-radius: 5px;
    height: 30px;
    width: 380px;
    text-align: center;
}